/* :::::::::::::::::::::::::GENERAL:::::::::::::::::::::::::: */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* :::::::::::::::::::::::::SCREEN 1: 320PX CELL XS:::::::::::::::::::::::::: */

/*  
    FATTO:  giorno 1: creo base con quadrati colorati di tutte le misure di screen
            giorno 2: ridifinisco i contenuti inserendo quelli originali e cancellando le misure fisse inserite
            giorno 3: ridifinisco il lavoro e perfeziono i punti difficoltosi lasciati indietro
*/


.fixedbar{
    width: calc(100% - 30px);
    height: 50px;
    background-color: rgba(0, 0 , 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.fixedbar a{
    font-size: .5rem;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.3rem .2rem;
    align-self: center;
    margin-right: 5px;

}

.fixedbar a:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.max-container{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
}

/* :::::::::::::::::::::::::NAV:::::::::::::::::::::::::: */

nav{
    width: 30px;
    height: calc(100vh - 50px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav .logo{
    display: none;
    width: 100px;
    margin-bottom: 10px;
}
nav img{
    width: 30px;
    padding: .3rem;
}
nav a .download-icon{
    padding: .4rem;
}

nav a .profile-icon{
    width: 25px;
    margin: 0.2rem;
    padding: 0;
    border: 1px solid white;
    border-radius: 100%;
    background-color: rgb(194, 193, 193);
}

nav .nav-start .hidden,
nav .nav-end .hidden{
    color: rgba(255, 255, 255, .5);
    display: none;
    font-size: .6rem;
}

.nav-end,
.nav-start{
    display: flex;
    flex-direction: column;
}


.nav-end .download-block,
.nav-end .profile-block,
.nav-end hr{
    width: 100%;
}

.nav-end hr{
    display: none;
    margin: 5px auto 5px .2rem ;
    width: 80%;
}

nav .nav-start .playlist{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

nav .nav-start .playlist span{
    align-self: flex-start;
}

nav .nav-start .playlist img{
    display: none;
    width: 30px;
    filter: invert(1);
}

.line-block{
    border-left: 2px solid greenyellow;
}

/* NOTA AVENDO UTILIZZATO GLI SVG COME IMMAGINI E NON COME SVG NON HO POTUTO VARIARE IL COLORE E HO UTILIZZATO UN FILTRO BRITHNESS PER RIPRODURRE ESTETICAMENTE MEDESIMO EFFETTO */
.nav-start .search-block a img,
.nav-start .library-block a img{
    filter: brightness(50%);
}

/* ****************************************************** */
.flex{
    display: flex;
    margin:0px 0px 5px -5px;

}

.playlist{
    height: 32vh;
}

.playlist>h2{
    font-size: .6rem;
    display: none;
    text-transform: uppercase;
    margin: 15px 0px 5px 0px;
}

.flex>a{ 
    display: none;
    vertical-align: middle;
    line-height: 32px;
    font-size: .8rem;
}

.playlist ul{
    display: none;
    overflow-y: auto;
}

.playlist ul li{
    list-style: none;
    font-size: .6rem;
    padding: 5px 0;
}

.playlist ul li a{
color: rgba(255, 255, 255, .5)
}

.playlist ul li:hover a{
    color: white;
    transition: all .5s;
}

.nav-start .home-block:hover a,
.nav-start .search-block:hover a,
.nav-start .library-block:hover a,
.nav-start .search-block:hover a img,
.nav-start .library-block:hover a img{
    color: white;
    filter: brightness(100%);
    transition: all .4s;
}

.nav-end .download-block .hidden,
.nav-end .profile-block .hidden{
    color: white;
}

.nav-end .download-block .hidden:hover{
    color: rgba(255, 255, 255, .5);
    transition: all .4s;
}

/* :::::::::::::::::::::::::MAIN:::::::::::::::::::::::::: */

main{
    width: calc(100% - 30px);
    background-color: rgb(20,25,34);
    overflow-y: auto;
    padding-top: 50px;
}

.nav_main{
    padding: 10px ;
}

main .nav_main ul{
    list-style: none;
    font-size: .6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .nav_main ul li{
    display: flex;
    flex-direction: column;
}

main .nav_main ul li a{
    margin: 5px;
    color: rgba(255, 255, 255, .3);
}

main .nav_main ul li:hover a{
    color: rgba(255, 255, 255, 1);
    transition: all .8s;
}

.container_main{
    width: 100%;
    padding: 0 10px;
}

.container_main h2{
    font-size: .8rem;
    padding: 10px 0;
}

.container_main h3{
    font-size: .5rem;
}

.container_main .card h3,
.container_main .card h4{
    margin-top: 2px;
}

.container_main h4 {
    font-size: .4rem;
    margin-bottom: 20px;
    margin-top: -5px;
    color: rgba(255, 255, 255, .5);
}

.recently,
.for_you,
.popular_singer{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.container_main .recently .card img,
.container_main .for_you .card img{
    width: 125px;
}

.container_main .popular_singer .card img{
    width: 125px;
    border-radius: 100%;
}

.container_main .recently .card img:hover,
.container_main .for_you .card img:hover,
.container_main .popular_singer .card img:hover{
    opacity: 100%;  
    transition: all .1s;  
}



.card{
    width: 125px;
    margin-bottom: 5px;
    text-align: center;
    position: relative;
}

.card .play{
    padding: 20px;
    opacity: 0%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0 , 0, .6);
}


.container_main .for_you .card,
.container_main .popular_singer .card{
    text-align: center;
}

.card:nth-child(1n + 1){
    margin-right: 5px;
}

.line-down{
    width: 20px;
    border: 1px solid greenyellow;
    align-self: center;
}

/* :::::::::::::::::::::::::FOOTER:::::::::::::::::::::::::: */

footer{
    min-width: 100%;
    height: 50px;
    background-color: rgb(40,40,40);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 2; /* BONUS */
}

footer .footer-left,
footer .footer-right,
footer .footer-center{
    width: calc((100% - 50vw - 20px ) / 2 );
    display: flex;
    align-items: center;
}

.footer-left{
    max-width: 150px;
    font-size: .5rem;
    justify-content: space-between;
}

.footer-center{
    margin: 0 20px;
    font-size: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-right{
    max-width: 150px;
    padding-left: 5px;
}

.description-song{
    display: flex;
    padding-right :5px;
    align-items: center;
}

.description-song h2 {
    font-size: .4rem;
    margin-left: -2px;
}
.description-song span{
    font-size: .4rem;
}

.description-album{
    display: flex;
    flex-direction: column;
}


footer .footer-left img{
    max-width: 40px;
    min-width: 30px;
    padding: 0 5px;
}

footer .footer-left .icons-left i{
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgba(255, 255, 255, .5);
}

footer .footer-left  .icons-left i:hover{
    transform: scale(1.3);
    color:white;
    transition: all .5s;
}

footer .footer-left .icons-left i{
    margin-bottom: 2px;
}

.footer-center .nav-play{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.footer-center .nav-play i{
    font-size: .8rem;
    padding: .1rem .4rem 0rem;
}

.footer-center .nav-play .play:hover{
    transform: scale(1.3);
    transition: all .9s;
}

.footer-center .nav-count {
    display: flex;
}

.nav-count .score .line-score{
    width: 10vw;
    height: 2px;
    background-color: white;
}

.nav-count .score{
    margin: 0 5px;
    width: 25vw;
    align-self: center;
    background-color: rgba(255, 255, 255, .5);    
}

.nav-count span{
    cursor: pointer;
}

.footer-right i{
    font-size: .5rem;
    margin: 2px;
}

.footer-right .score .line-score{
    width: 3vw;
    height: 2px;
    background-color: white;  
}

.score:hover .line-score{
    background-color: greenyellow;
    cursor: grab;
    transition: background-color .5s;
}

.footer-right .score{
    margin: 0 5px;
    width: 15vw;
    align-self: center;
    background-color: rgba(255, 255, 255, .5);    
}

.count_score{
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: white;
    position:relative;
    bottom: .5vh;
    left: 9.5vw;
    display: none;
}

.line-score:hover .count_score{
    display: block;
    transition: all .1s;
}

.footer-right .score .line-score .count_score{
    width: .5rem;
    height: .5rem;
    border-radius: .5rem;
    background-color: white;
    position:relative;
    bottom: .5vh;
    left: 2.5vw;
    display: none;
}

.footer-right .line-score:hover .count_score{
    display: block;
    transition: all .1s;
}

.line-score:hover .count_score{
    display: block;
    transition: all .1s;
}

.footer-right i:hover{
    transform: scale(1.3);
    transition: all .5s;
}

/* :::::::::::::::::::::::::SCREEN2 :600PX TABLET:::::::::::::::::::::::::: */

@media screen and (min-width: 600px){
    
    .fixedbar{
        width: calc(100% - 150px);
    }
    
    nav{
        width: 150px;
        height: calc(100vh - 50px);
    }
    
    nav .logo{
        display: block;
    }
    
    nav .logo-small{
        display: none;
    }
    
    
    nav .nav-end .download-block,
    nav .nav-end .profile-block,
    nav .nav-start .home-block,
    nav .nav-start .search-block,
    nav .nav-start .library-block{
        display: flex;
        align-items: center;
    }


    nav .nav-start .hidden,
    nav .nav-end .hidden{
        display: block;
        flex: content 0 0;
    }
    
    .nav-end hr{
        display: block;
    }
    
    .nav-end .download-block img,
    .nav-end .profile-block img{
        width: 20px;
    }
    
    nav .nav-start,
    nav .nav-end{
        margin-left: 5px;
        margin-bottom: 5px;
    }

    nav .nav-start .playlist img,
    .playlist>h2,
    .flex>a,
    .playlist ul{
        display: block;
    }

    .flex:hover a{
        color: rgba(255, 255, 255, .5);
        transition: all .5s;
    }

    .line-block{
        margin-left: -5px;
    }
}

@media screen
and (min-width: 700px){
    
    
}

/* ISTRUZIONI
tv: min 1100
- min 700
  tra le due cambia la barra laterale
-min 600
cellulare min 320 */