* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

/* _______________SCREEN 1: CELLULARE XS:320PX_____________ */

/*  giorno 1: creo base con quadrati colorati di tutte le misure di screen
    giorno 2: ridifinisco i contenuti inserendo quelli originali e cancellando le misure fisse inserite
    giorno 3: ridifinisco il lavoro e perfeziono i punti difficoltosi lasciati indietro*/


.fixedbar{
    width: calc(100% - 30px);
    height: 50px;
    background-color: rgba(0, 0 , 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.fixedbar a{
    font-size: .5rem;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0.3rem 1.5rem;
    align-self: center;
    margin-right: 5px;

}

.max-container{
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
}

nav{
    width: 30px;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav .logo{
    display: none;
    width: 100px;
    margin-bottom: 10px;
}
nav img{
    width: 30px;
    padding: .3rem;
}
nav div .download-icon{
    padding: .4rem;
}

nav div .profile-icon{
    width: 25px;
    margin: 0.2rem;
    padding: 0;
    border: 1px solid white;
    border-radius: 100%;
    background-color: rgb(194, 193, 193);
}

nav .nav-start a,
nav .nav-end a{
    display: none;
    font-size: .6rem;
}

.nav-end,
.nav-start{
    display: flex;
    flex-direction: column;
}


.nav-end .download-block,
.nav-end .profile-block,
.nav-end hr{
    width: 100%;
}

.nav-end hr{
    display: none;
    margin: 5px auto 5px .2rem ;
    width: 80%;
}

nav .nav-start .playlist{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

nav .nav-start .playlist span{
    align-self: flex-start;
}

nav .nav-start .playlist img{
    display: none;
    width: 30px;
    filter: invert(1);
}

.flex{
    display: flex;
    margin:0px 0px 5px -5px;

}

.playlist{
    height: 32vh;
}

.playlist>h2{
    font-size: .6rem;
    display: none;
    text-transform: uppercase;
    margin: 15px 0px 5px 0px;
}

.flex>span{ 
    display: none;
    vertical-align: middle;
    line-height: 32px;
    font-size: .8rem;
}

.playlist ul{
    display: none;
    overflow-y: auto;
}

.playlist ul li{
    list-style: none;
    font-size: .6rem;
    padding: 5px 0;
}

main{
    width: calc(100% - 30px);
    background-color: rgb(20,25,34);
    overflow-y: auto;
    padding-top: 50px;
}

footer{
    min-width: 100%;
    height: 50px;
    background-color: rgb(40,40,40);
    position: fixed;
}


@media screen and (min-width: 600px){
    
    .fixedbar{
        width: calc(100% - 150px);
    }
    
    nav{
        width: 150px;
        height: calc(100vh - 50px);
    }
    
    nav .logo{
        display: block;
    }
    
    nav .logo-small{
        display: none;
    }
    
    
    nav .nav-end .download-block,
    nav .nav-end .profile-block,
    nav .nav-start .home-block,
    nav .nav-start .search-block,
    nav .nav-start .library-block{
        display: flex;
        align-items: center;
    }
    
    nav .nav-start a,
    nav .nav-end a{
        display: block;
        flex: content 0 0;
    }
    
    .nav-end hr{
        display: block;
    }
    
    .nav-end .download-block img,
    .nav-end .profile-block img{
        width: 20px;
    }
    
    nav .nav-start,
    nav .nav-end{
        margin-left: 5px;
        margin-bottom: 5px;
    }

    nav .nav-start .playlist img,
    .playlist>h2,
    .flex>span,
    .playlist ul{
        display: block;
    }
}

@media screen
and (min-width: 700px){
    
    
}

/* ISTRUZIONI
tv: min 1100
- min 700
  tra le due cambia la barra laterale
-min 600
cellulare min 320 */